@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}
.NavContainer{
    display: inline-block;
    width: 25%;
    height: 100vh;
    background-color: rgb(255, 13, 61);
    color:white;
    border-top-right-radius: 80px;
}
.NavContainer h3{
    margin: 40px 0px 0px 20px;
    font-weight: 200;
}
.NavContainer ul{
    padding: 0;
    margin-top: 20px;
    margin-left: 30px;
}
.NavContainer ul li{
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 15px;
    list-style-type: none;
    margin-left: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
}
.NavContainer ul li:hover{
    svg{
        fill: rgb(255, 13, 61);
    }
    cursor: pointer;
    color: rgb(255, 13, 61);
    background-color: white;
}
.NavContainer ul li:hover::after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 20px 0 0 #ffffff;
}
.NavContainer ul li:hover::before {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-top-right-radius: 15px;
    box-shadow: 0 -20px 0 0 #ffffff;
}